.main {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}
.main button {
    outline: none;
    cursor: pointer;
    border: none;
    color: white;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid transparent;
}
.active {
    border: 1px solid red !important;
}
.pages {
    display: flex;
    gap: 10px;
}

@media screen and (max-width: 568px) {
    .main {
        margin-top: 1rem;
    }
}

@media screen and (max-width: 350px) {
    .main button {
        font-size: 14px;
        width: 25px;
        height: 25px;
    }
}